#selectors {
    margin-top: 4rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 2%;

}

#selectors input {
    display: none;
}

#selectors label {
    display: block;
    background: #a7e8bd;
    border: 3px solid black;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    box-shadow: 4px 4px 0px 2px rgb(0, 0, 0);
    transition: all 0.3s;
    position: sticky;
    top: 10px;
    z-index: 10;
}

#selectors label:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#Movies:checked~#label-movies,
#Games:checked~#label-games,
#Books:checked~#label-books,
#Music:checked~#label-music,
#Pokémon:checked~#label-pokémon {
    background-color: rgb(107, 255, 107);
}

#Movies:checked~#favorite-movies,
#Games:checked~#favorite-games,
#Books:checked~#favorite-books,
#Music:checked~#favorite-music,
#Pokémon:checked~#favorite-pokemon {
    display: flex;
}

.favorites {
    grid-column: span 5;
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.item-card {
    background: rgb(242, 214, 162);
    display: flex;
    border: 5px solid black;
    box-shadow: 4px 4px 0px 2px rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;

}

.item-number {
    font-family: roboto, 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    width: 5%;
    font-size: 4rem;
}

.item-image {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    width: 15%;
    padding: 1% 0;
    filter:
        drop-shadow(6px 6px 0 rgb(0, 0, 0));
}

.item-info {
    width: 75%;
}

.item-title {
    font-size: 30px;
}

.item-subtitle {
    color: #555656;
    font-style: italic;
}