#selectors {
    margin-top: 4rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    align-items: center;
    row-gap: 30px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

#selectors input {
    display: none;
}

#selectors label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a7e8bd;
    border: 3px solid black;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 4px 4px 0px 2px rgb(0, 0, 0);
    transition: all 0.3s;
    position: sticky;
    top: 10px;
    z-index: 10;
}

#selectors label:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

#Movies:checked~#label-movies,
#Games:checked~#label-games,
#Books:checked~#label-books,
#Pokémon:checked~#label-pokémon {
    background-color: rgb(107, 255, 107);
}

#Movies:checked~#favorite-movies,
#Games:checked~#favorite-games,
#Books:checked~#favorite-books,
#Pokémon:checked~#favorite-pokemon {
    display: grid;
}

.favorites {
    grid-column: span 5;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.item-card {
    background: rgb(242, 214, 162);
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    box-shadow: 4px 4px 0px 2px rgb(0, 0, 0);
    align-items: center;
    text-align: center;

}

.item-card:nth-of-type(10) {
    grid-column: span 3;
}

.item-number {
    font-family: roboto, 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;

    font-size: 2rem;
}

.item-image {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    width: 260px;
    filter: drop-shadow(4px 0 0 black) drop-shadow(-4px 0 0 black) drop-shadow(0 4px 0 black) drop-shadow(0 -4px 0 black);

}

#favorite-pokemon img {
    filter: drop-shadow(4px 4px 0 black);
    aspect-ratio: 1/1;
}

.item-info {
    width: 75%;
}

.item-title {
    font-size: 20px;
}

.item-subtitle {
    color: #555656;
    font-style: italic;
    font-size: 15px;
}

@media(width < 900px) {
    #selectors {
        width: 100vw;
        margin: 0 0 2rem 0;
    }

    #Movies:checked~#favorite-movies,
    #Games:checked~#favorite-games,
    #Books:checked~#favorite-books,
    #Pokémon:checked~#favorite-pokemon {
        display: flex;
    }

    .favorites {
        flex-direction: column;
        align-items: center;
    }

    .item-card {
        width: 100%;
    }


}

@media (width < 670px) {
    #selectors label {
        font-size: 20px;
        height: 40px;
    }

    .item-image {
        width: 180px;
    }
}